
<div class="ShowField">
    <strong>Title:</strong>
    <span><%= @list.title %></span>
</div>

<div class="ShowField">
    <strong>Body:</strong>
    <%= @list.body %>
</div>

<div class="Controller">
    <%= link_to "Edit", edit_book_path(@list.id) %>
    <span> | </span>
    <%=link_to "Back", "/books" %>
</div>


